streams:
  aijia_raw: http://127.0.0.1:18080/stream.flv
  aijia: "ffmpeg:http://127.0.0.1:18080/stream.flv#video=h264_aijia#audio=aac"

ffmpeg:
  bin: /usr/bin/ffmpeg
  h264_aijia: "-vf scale=1280:720:flags=fast_bilinear,fps=10 -c:v libx264 -threads 4 -preset:v ultrafast -tune:v zerolatency -profile:v baseline -level:v 3.1 -pix_fmt:v yuv420p -g:v 20 -bf 0 -b:v 1200k -maxrate:v 1500k -bufsize:v 3000k"

api:
  listen: "192.168.31.173:1984"
  username: "CHANGE_ME"
  password: "CHANGE_ME"
  local_auth: true

rtsp:
  listen: "0.0.0.0:8554"
  username: "CHANGE_ME"
  password: "CHANGE_ME"

webrtc:
  listen: "192.168.31.173:8555"
  candidates:
    - 192.168.31.173:8555
